<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= current_page.data.title || "Alan Sanchez Tecuapetla" %></title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <meta name="description" content="Fullstack Web Developer in Tokyo, Japan">
    <meta name="keywords" content="Alan, Alan Sanchez, Alan Tecuapetla, Oscar Alan, developer, UX design, HTML, CSS, Ruby on Rails, JavaScript">
    <meta name="author" content="Alan Sanchez Tecuapetla">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Alan Tecuapetla Portfolio | Alan Sanchez Tecuapetla" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alan-tecuapetla.com/" />
    <meta property="og:image" content="<%= image_path 'AlanTecuapetla-OGimage.png' %>" />
    <meta property="og:description" content="Web Developer in Tokyo-Japan" />
    <meta property="og:site_name" content="Alan Tecuapetla Portfolio | Alan Sanchez Tecuapetla" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitter_handle">
    <meta name="twitter:title" content="Alan Tecuapetla Portfolio | Alan Sanchez Tecuapetla">
    <meta name="twitter:description" content="Web Developer in Tokyo-Japan">
    <meta name="twitter:creator" content="@twitter_handle">
    <meta name="twitter:image:src" content="<%= image_path 'AlanTecuapetla-OGimage.png' %>">
  </head>

  <body>
  <div id="loading-screen">
    <div class="spinner"></div>
  </div>
    <div class="main-wraper">
      <%= yield %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
