
<div class="content-container">
  <!-- ABOUT ME -->
    <div id="about_me" class="body-container">
      <h2><%= t('about.title') %></h2>
      <div class="about-me-container">
        <div id="avatar">

          <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700232865/Portfolio/about/alan-roundpic-color.png', alt: "alan pic", class: "profile-img" %>
          <div class="text-popover" data-toggle="popover" data-content="It's a me!" data-original-title="" title="">
          </div>
        </div>
        <div class="about-me">
          <p>
            The name's <span>Alan</span>, a former industrial designer, living in Japan and now turning my career
            into a <strong>full-stack web developer</strong>. </p>
          <p>
            I decided to learn coding to complement my <strong>5 years designing skills</strong> with a broad range of back and front end knowledge,
            allowing me to mix creativity with programming  and take my expertise to the next step.
            Through my past experiences, I developed my ability to <strong>work as a team, take the initiative and communicate with those around me</strong>.
            Allowing me to work well no matter the environment and will proactively use my skills to reach my <strong>objectives</strong>.
          </p>
          <p>
            Outside of my constant skill development , I love to practice <strong>acroyoga</strong>, go for a hike to take <strong>pictures</strong> and learning
            new <strong>food recipes</strong> to try.
          </p>

          <div>

          <!-- SKILLS -->
          <h3>My tech Stack:</h3>
            <div class="tech-skills">
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/ylovb0bxkk0vhjshyyf8.png', alt: "nuxtlogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/nnybifxn2tqbffiuayaw.png', alt: "awslogo", class: "tech-icons" %>
              <%= image_tag 'tech/ruby-logo.svg', alt: "rubylogo", class: "tech-icons" %>
              <%= image_tag 'tech/HTML-logo.svg', alt: "htmllogo", class: "tech-icons" %>
              <%= image_tag 'tech/CSS-logo.svg', alt: "csslogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700920678/Portfolio/icons/TS-Logo_dgnj0h.svg', alt: "tslogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700920677/Portfolio/icons/JS2-logo_muxw5p.svg', alt: "jslogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/e8fzj0thghmyqvx7lhgr.png', alt: "vuelogo", class: "tech-icons" %>
              <%= image_tag 'tech/Reactlogo.png', alt: "reactlogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700925201/Portfolio/icons/Github-light-logo_kuyxfz.svg', alt: "githublogo", class: "tech-icons" %>
              <%= image_tag 'tech/Fabricjs.png', alt: "fabriclogo", class: "tech-icons" %>
              <%= image_tag 'tech/figma-logo.svg', alt: "figmalogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1701246924/Portfolio/icons/Illustrato-icon_ya45rw.svg', alt: "ailogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1701246929/Portfolio/icons/Photoshop-icon_xfcnqd.svg', alt: "pslogo", class: "tech-icons" %>
            </div>
          </div>
        </div>

      </div>
    </div>

  <!-- WORK -->
    <div class="body-container">
      <h2>My Work</h2>
      <div class="divider d0"></div>

      <div id="project_info" class="body-container">
        <div class="project-info-container">
          <div id="project">
              <!-- Slideshow container -->
            <div class="slideshow-container" id="doko">
              <!-- Full-width images with number and caption text -->
              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158501/Portfolio/doko/bqluwmalbkvbhegfbemq.png", alt: "homepage", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158501/Portfolio/doko/vf7nwvnk9hanzm5umssu.png", alt: "commentpage", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158502/Portfolio/doko/gi29viwukbbvcy2lvyrj.png", alt: "", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158502/Portfolio/doko/mhkhzihwipyaqiutckse.png", alt: "", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158502/Portfolio/doko/bxqoeyyu3ebjmgutom27.png", alt: "", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158501/Portfolio/doko/ek92vf4np2iqawkbzlbq.png", alt: "", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158501/Portfolio/doko/elnuxmesimn69lh29lom.png", alt: "", style: "width:100%" %>
              </div>

              <div class="doko">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720158937/Portfolio/doko/q3b6n3nxaem0mnr1ayol.png", alt: "", style: "width:100%" %>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="cDoko.plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="cDoko.plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
              <span class="dot-doko" onclick="cDoko.currentSlide(1)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(2)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(3)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(4)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(5)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(6)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(7)"></span>
              <span class="dot-doko" onclick="cDoko.currentSlide(8)"></span>
            </div>
          </div>
          <div class="project-info">
            <h2><strong>DOKOJAPAN K.K.</strong></h2>
            <h3>FullStack Developer</h3>
            <p>
              Sole fullstack developer, maintenance of cloud-services such as AWS, creation of scalable components in vue.js & Typescript, being Nuxt.js the main framework for development.
              Worked on the launch of the new company product <span><a target="_blank" href="https://www.menuforgood.com/">menuforGOOD</a></span>, as well created prototypes on
              Figma for subsequent pages and features. Worked on the creation of MenuForGood logo design and related Illustrations.
            </p>
            <div class="tech-skills">
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/e8fzj0thghmyqvx7lhgr.png', alt: "vuelogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/ylovb0bxkk0vhjshyyf8.png', alt: "nuxtlogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700920678/Portfolio/icons/TS-Logo_dgnj0h.svg', alt: "tslogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1700920677/Portfolio/icons/JS2-logo_muxw5p.svg', alt: "jslogo", class: "tech-icons" %>
              <%= image_tag 'https://res.cloudinary.com/dd05o0vvo/image/upload/v1720156600/Portfolio/icons/nnybifxn2tqbffiuayaw.png', alt: "awslogo", class: "tech-icons" %>
            </div>
            <div class="container">
              <%# <div class="override">
                <a class="btn btn-success" href="https://www.fit-it.homes/" role="button">Visit Site</a>
                <a class="btn btn-outline-secondary" href="https://github.com/Alan-Tecua/fit-it" role="button">View Code</a>
              </div> %>
            </div>
          </div>
        </div>
      </div>
      <div class="divider d0"></div>
  <!-- PROJECTS -->
    <div class="body-container">
      <h2>My Projects</h2>
      <div class="divider d0"></div>

      <div id="project_info" class="body-container">
        <div class="project-info-container">
          <div id="project">
              <!-- Slideshow container -->
            <div class="slideshow-container" id="fitit">
              <!-- Full-width images with number and caption text -->
              <div class="fitit">
                <%= image_tag "fitit/1.PNG", alt: "homepage", style: "width:100%" %>
              </div>

              <div class="fitit">
                <%= image_tag "fitit/2.PNG", alt: "commentpage", style: "width:100%" %>
              </div>

              <div class="fitit">
                <%= image_tag "fitit/3.PNG", alt: "userpage", style: "width:100%" %>
              </div>

              <div class="fitit">
                <%= image_tag "fitit/4.PNG", alt: "previewpage", style: "width:100%" %>
              </div>

              <div class="fitit">
                <%= image_tag "fitit/5.PNG", alt: "editpage", style: "width:100%" %>
              </div>

              <div class="fitit">
                <%= image_tag "fitit/6.PNG", alt: "additempage", style: "width:100%" %>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="cFitit.plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="cFitit.plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
              <span class="dot-fitit" onclick="cFitit.currentSlide(1)"></span>
              <span class="dot-fitit" onclick="cFitit.currentSlide(2)"></span>
              <span class="dot-fitit" onclick="cFitit.currentSlide(3)"></span>
              <span class="dot-fitit" onclick="cFitit.currentSlide(4)"></span>
              <span class="dot-fitit" onclick="cFitit.currentSlide(5)"></span>
              <span class="dot-fitit" onclick="cFitit.currentSlide(6)"></span>
            </div>
          </div>
          <div class="project-info">
            <h2><strong>Fit-It</strong></h2>
            <h3>UX Design <span>+</span> Product Lead <span>+</span> FullStack developer</h3>
            <p>
              This web-application helps users visualize a better layout for a new residence,
              to relieve stress when preparing to move into a new home by deciding the future of new furniture into your home.
              And just like the slogan says:
            </p>
            <p>
              Clean Layout, Clear Mind.
            </p>

            <div class="tech-skills">
              <%= image_tag 'tech/figma-logo.svg', alt: "figmalogo", class: "tech-icons" %>
              <%= image_tag 'tech/ruby-logo.svg', alt: "rubylogo", class: "tech-icons" %>
              <%= image_tag 'tech/HTML-logo.svg', alt: "htmllogo", class: "tech-icons" %>
              <%= image_tag 'tech/CSS-logo.svg', alt: "csslogo", class: "tech-icons" %>
              <%= image_tag 'tech/JS2-logo.svg', alt: "jslogo", class: "tech-icons" %>
            </div>
            <div class="container">
              <div class="override">
                <a class="btn btn-success" href="https://www.fit-it.homes/" role="button">Visit Site</a>
                <a class="btn btn-outline-secondary" href="https://github.com/Alan-Tecua/fit-it" role="button">View Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider d0"></div>

      <div id="project_info" class="body-container">
        <div class="project-info-container">
          <div id="project">
              <!-- Slideshow container -->
            <div class="slideshow-container" id="canvas">
              <!-- Full-width images with number and caption text -->
              <div class="canvas">
                <%= image_tag "canvas/1.PNG", alt: "homepage", style: "width:100%" %>
              </div>

              <div class="canvas">
                <%= image_tag "canvas/2.PNG", alt: "commentpage", style: "width:100%" %>
              </div>

              <div class="canvas">
                <%= image_tag "canvas/3.PNG", alt: "userpage", style: "width:100%" %>
              </div>

              <div class="canvas">
                <%= image_tag "canvas/4.PNG", alt: "previewpage", style: "width:100%" %>
              </div>

              <div class="canvas">
                <%= image_tag "canvas/5.PNG", alt: "editpage", style: "width:100%" %>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="cCanvas.plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="cCanvas.plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div class="dot" style="text-align:center">
              <span class="dot-canvas" onclick="cCanvas.currentSlide(1)"></span>
              <span class="dot-canvas" onclick="cCanvas.currentSlide(2)"></span>
              <span class="dot-canvas" onclick="cCanvas.currentSlide(3)"></span>
              <span class="dot-canvas" onclick="cCanvas.currentSlide(4)"></span>
              <span class="dot-canvas" onclick="cCanvas.currentSlide(5)"></span>
            </div>
          </div>
          <div class="project-info">
           <h2><strong>Canvas Culture</strong></h2>
            <h3>UX Design <span>+</span> Product Lead <span>+</span> FullStack developer</h3>
            <p>
              A fun website which allows users to search, request and rent famous paintings from all around the world.
              Get also real time notification of your request, accept or decline renting your own artwork and appoint the
              time and date you will use the painting for your next show event.
            </p>

            <div class="disclaimer">
              <%# <p><i>Site is not responsive to <span>mobile...</span> yet</i></p> %>
            </div>

             <div class="tech-skills">
              <%= image_tag 'tech/figma-logo.svg', alt: "figmalogo", class: "tech-icons" %>
              <%= image_tag 'tech/ruby-logo.svg', alt: "rubylogo", class: "tech-icons" %>
              <%= image_tag 'tech/HTML-logo.svg', alt: "htmllogo", class: "tech-icons" %>
              <%= image_tag 'tech/CSS-logo.svg', alt: "csslogo", class: "tech-icons" %>
              <%= image_tag 'tech/JS2-logo.svg', alt: "jslogo", class: "tech-icons" %>
            </div>
            <div class="container">
              <div class="override">
                <a class="btn btn-success" href="https://canvas-culture-56856ec8c705.herokuapp.com/" role="button">Visit Site</a>
                <a class="btn btn-outline-secondary" href="https://github.com/mnsom/canvas-culture" role="button">View Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider d0"></div>

      <div id="project_info" class="body-container">
        <div class="project-info-container">
          <div id="project">
              <!-- Slideshow container -->
            <div class="slideshow-container" id="weatherAPI">
              <!-- Full-width images with number and caption text -->
              <div class="weatherAPI">
                <%= image_tag "weather/weather-report1.PNG", alt: "homepage", style: "width:100%" %>
              </div>

              <div class="weatherAPI">
                <%= image_tag "weather/weather-report2.PNG", alt: "commentpage", style: "width:100%" %>
              </div>

              <div class="weatherAPI">
                <%= image_tag "weather/weather-report3.PNG", alt: "userpage", style: "width:100%" %>
              </div>

              <div class="weatherAPI">
                <%= image_tag "weather/weather-report4.PNG", alt: "previewpage", style: "width:100%" %>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="cWeather.plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="cWeather.plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div class="dot" style="text-align:center">
              <span class="dot-weather" onclick="cWeather.currentSlide(1)"></span>
              <span class="dot-weather" onclick="cWeather.currentSlide(2)"></span>
              <span class="dot-weather" onclick="cWeather.currentSlide(3)"></span>
              <span class="dot-weather" onclick="cWeather.currentSlide(4)"></span>
            </div>
          </div>
          <div class="project-info">
           <h2><strong>Weather Report</strong></h2>
            <h3>API Project</h3>
            <p>
              A fetch and request API weather app to check the current condition of cities around the world;
              done with Typescript, React and TailwindCSS.
            </p>

             <div class="tech-skills">
              <%= image_tag 'tech/Reactlogo.png', alt: "reactlogo", class: "tech-icons" %>
              <%= image_tag 'tech/TS-Logo.svg', alt: "tslogo", class: "tech-icons" %>
              <%= image_tag 'tech/HTML-logo.svg', alt: "htmllogo", class: "tech-icons" %>
              <%= image_tag 'tech/CSS-logo.svg', alt: "csslogo", class: "tech-icons" %>
            </div>
            <div class="container">
              <div class="override">
                <a class="btn btn-outline-secondary" href="https://github.com/Alan-Tecua/weather-report" role="button">View Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider d0"></div>

      <div id="project_info" class="body-container">
        <div class="project-info-container">
          <div class="project-info">
           <h2><strong>More projects to come!</strong></h2>
           <h3>Stay in touch to see my future projects</h3>
          </div>
        </div>
      </div>
      <div class="divider d0"></div>

      <div class="body-container">
        <h2>Curious about my past?</h2>
        <div id="project">
              <!-- Slideshow container -->
            <div class="slideshow-container" id="portfolio">
              <!-- Full-width images with number and caption text -->
              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264455/Portfolio/op/1_upfi2q.png", alt: "index", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264456/Portfolio/op/2_qlsofo.png", alt: "preview", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264455/Portfolio/op/7_ningyc.png", alt: "preview", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264455/Portfolio/op/3_qqwswt.png", alt: "previewpage", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264455/Portfolio/op/4_kgkzlz.png", alt: "previewpage", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264456/Portfolio/op/6_tokcsv.png", alt: "previewpage", style: "width:100%" %>
              </div>

              <div class="portfolio">
                <%= image_tag "https://res.cloudinary.com/dd05o0vvo/image/upload/v1720264455/Portfolio/op/5_bao0e6.png", alt: "previewpage", style: "width:100%" %>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="cPortfolio.plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="cPortfolio.plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div class="dot" style="text-align:center">
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(1)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(2)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(3)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(4)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(5)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(6)"></span>
              <span class="dot-portfolio" onclick="cPortfolio.currentSlide(7)"></span>
            </div>
          </div>
        <p id="curious" >Check out my previous <a href="https://drive.google.com/drive/folders/1OWToFHsYwPw4ll_vwbzfJ2UeQN7QCaxv?usp=sharing" rel="nofollow">Industrial Designer Portfolio!</a></p>
      </div>

    </div>
</div>
