
<div class="content-container">
  <!-- ABOUT ME -->
    <div id="about_me" class="body-container">
      <h2>About Me</h2>
      <div class="about-me-container">
        <div id="avatar">
          <%= image_tag 'Aboutmepic-color.png', alt: "alan pic", class: "profile-img" %>
          <div class="text-popover" data-toggle="popover" data-content="It's a me!" data-original-title="" title="">
          </div>
        </div>
        <div class="about-me">
          <p>
            The name's Alan, a former industrial designer, living in Japan and now turning my career
            into that of a <strong>full-stack web developer</strong>. </p>
          <p>
            I have been using my creativity and logic to solve various problems.
            This is why I decided to learn coding to complement my <strong>5 years designing skills</strong> with a broad range of back and front end knowledge,
            allowing me to mix creativity and programming to take my expertise to the next step.
            Through my past experiences, I developed my ability to <strong>work as a team and can communicate smoothly and efficiently</strong>.
            Allowing me to work well no matter the environment and will proactively use my skills to reach my <strong>objectives</strong>.
          </p>
          <p>
            Outside of my constant skill development , I practice acroyoga, do hiking and learning
            new food recipes to try.
          </p>
        </div>
      </div>
    </div>
  <!-- PROJECTS -->
    <div class="body-container">
      <h2>Projects</h2>

            <!-- Slideshow container -->
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
          <%= image_tag "fitit/1.PNG", alt: "homepage", style: "width:100%" %>
        </div>

        <div class="mySlides">
          <%= image_tag "fitit/2.PNG", alt: "commentpage", style: "width:100%" %>
        </div>

        <div class="mySlides">
          <%= image_tag "fitit/3.PNG", alt: "userpage", style: "width:100%" %>
        </div>

        <div class="mySlides">
          <%= image_tag "fitit/4.PNG", alt: "previewpage", style: "width:100%" %>
        </div>

        <div class="mySlides">
          <%= image_tag "fitit/5.PNG", alt: "editpage", style: "width:100%" %>
        </div>

        <div class="mySlides">
          <%= image_tag "fitit/6.PNG", alt: "additempage", style: "width:100%" %>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
      </div>

      <div class="divider d0"></div>


    </div>
</div>
